
:root{
  --color-white: #ffffff;
  --color-dark-text: #161012;
  --color-dark-grey: #6b7376;
  --color-text-grey: #b6bbc1;
  --color-headers: #eaeaea;
  --color-contact-active: #e9ebeb;
  --color-light-icons: #b1b1b1;
  --color-sent-message: #d5f9ba;
  --color-notification: #8edafc;
  --background: linear-gradient(180deg, #009688 18.55%, #D9DBD5 18.56%);
}

body{
  font-family: 'Lato', sans-serif;
}

#app{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image:var(--background);
  padding: 20px;
}

#app .container {
  height: 100%;
  background-color: var(--color-white);
}

.chat-box{
  background-image: url('../img/mine.jpg');
}

.col-header{
  background-color: var(--color-headers);
}

.h0{
  height: 0;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.contact{
  border-bottom: 1px solid var(--color-headers);
}

.contact:hover{
  background-color: var(--color-headers);
  cursor: pointer;
}

.contact.active{
  background-color: var(--color-contact-active);
}

.icons{
  color: var(--color-light-icons);
} 

.notification{
  background-color: var(--color-notification);
}

.notification div:first-child{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--color-white);
  color: var(--color-notification);
}

.msg{
  padding: 10px 20px;
  border-radius: 10px; 
}

.sent{
  margin-left: auto;
  background-color: var(--color-sent-message);
}

.received{
  margin-right: auto;
  background-color: var(--color-white);
}

small{
  color: var(--color-text-grey);
}

small a {
  color: var(--color-dark-grey);
}

#search .input-group-text{
  color: var(--color-text-grey);
  background-color: var(--color-white);
  border-right: none;
}

#search .form-control{
  border-left: none;
}

.delete-menu {
  cursor: pointer;
  padding: 0 auto;
  color: var(--color-dark-grey);
}

.arrow-icon {
  display: none;
  cursor: pointer;
  color: var(--color-text-grey);
}

.msg:hover .arrow-icon {
  display: inline-block;
}